server:
  port: 4444
  error:
    path: "/error"
    whitelabel:
      enabled: false

spring:
  application:
    name: project
  liquibase:
    change-log: classpath:database/db.changelog.yml
    enabled: true
    contexts: prod, dev
  datasource:
    url: jdbc:postgresql://postgres:${POSTGRES_DB_PORT}/${POSTGRES_DB?createDatabaseIfNotExist=true
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: "org.postgresql.Driver"
    hikari:
      jdbc-url: jdbc:postgresql://postgres:${POSTGRES_DB_PORT}/${POSTGRES_DB?createDatabaseIfNotExist=true
      driver-class-name: "org.postgresql.Driver"
      username: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}
      connection-timeout: 30000
      maximum-pool-size: 15
      minimum-idle: 10
      initialization-fail-timeout: 1
      leak-detection-threshold: 0
      pool-name: "[HikariPool-all-on-sport-pool]"
      register-mbeans: true
  jpa:
    show-sql: true
    dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    hibernate:
      ddlAuto: none

