<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=K2D&display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/error.css}">
    <title>Ошибка</title>
</head>
<body>

<div class="header">
    <a class="title" href="/index">ВСЕ НА СПОРТ</a>
    <div class="if_authorized" sec:authorize="isAuthenticated()">
        <!-- Если пользователь авторизован -->
        <div class="authorized_username">
            Приветствуем вас, <span sec:authentication="name"></span>!
        </div>
        <div class="logout_container">
            <a class="logout_link" href="/logout">Выйти</a>
        </div>
    </div>
</div>

<h1>Такой пользователь уже существует!</h1>
<p>Попробуйте ввести другой логин.</p>
<a href="/index">Вернуться на главную страницу</a>
</body>
</html>