<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="ru">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=K2D&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/student_profile.css}">
    <title th:text="'Профиль ' + ${student.fsp}"></title>
</head>
<body>
    <div class="header">
        <a class="title" href="/index">ВСЕ НА СПОРТ</a>
        <div class="if_authorized" sec:authorize="isAuthenticated()">
            <!-- Если пользователь авторизован -->
            <div class="authorized_username">
                Приветствуем вас, <span sec:authentication="name"></span>!
            </div>
            <div class="logout_container">
                <a class="logout_link" href="/logout">Выйти</a>
            </div>
        </div>
    </div>

    <div class="profile_container">
        <div class="main_title" th:text="${student.fsp}"></div>
        <div class="main_profile_container">
            <div class="login_string" th:text="'Логин: ' + ${student.login}"></div>
            <div class="health_group_string" th:text="'Группа здоровья: ' + ${student.healthGroup}"></div>
            <div class="teacher_of_student" th:text="'Преподаватель: ' + ${teacher.fsp}"></div>
            <div class="university_string">Университет: РУТ (МИИТ)</div>
        </div>

        <h2>Посещения</h2>
        <table class="schedule_table">
            <thead>
            <tr>
                <th>День недели</th>
                <th>Посетил</th>
            </tr>
            </thead>
            <tbody>
            <!-- Проходим по карте расписания -->
            <tr th:each="entry : ${student.exist}">
                <td th:text="${entry.key}"></td>
                <td>
                    <ul>
                        <!-- Перечисляем занятия в списке -->
                        <li th:each="lesson : ${entry.value}" th:text="${lesson}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="display:none;" sec:authorize="hasAuthority('teacher')">
        <form action="#" th:action="@{'/teachers/notice'}" method="POST">
            <input type="hidden" name="login" th:value="${param.login}" />
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button type="submit" class="notice_button">Отметить</button>
        </form>
    </div>

    <a class="notice_link" onclick="document.querySelector('.notice_button').click(); return false;">Отметить</a>

</body>
</html>