<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="ru">
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=K2D&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/teacher_profile.css}">
    <title th:text="'Профиль преподавателя ' + ${teacher.fsp}"></title>
</head>
<body>
<div class="header">
    <a class="title" href="/index">ВСЕ НА СПОРТ</a>
    <div class="if_authorized" sec:authorize="isAuthenticated()">
        <!-- Если пользователь авторизован -->
        <div class="authorized_username">
            Приветствуем вас, <span sec:authentication="name"></span>!
        </div>
        <div class="logout_container">
            <a class="logout_link" href="/logout">Выйти</a>
        </div>
    </div>
</div>

<div class="profile_container">
    <div class="main_title" th:text="${teacher.fsp}"></div>
    <div class="main_profile_container">
        <div class="login_string" th:text="'Логин: ' + ${teacher.login}"></div>
        <div class="department_string">Преподаватель "Кафедра Физкультуры"</div>
    </div>

    <h2>Расписание занятий:</h2>
    <table class="schedule_table">
        <thead>
        <tr>
            <th>День недели</th>
            <th>Занятия</th>
        </tr>
        </thead>
        <tbody>
        <!-- Проходим по карте расписания -->
        <tr th:each="entry : ${teacher.schedule}">
            <td th:text="${entry.key}"></td>
            <td>
                <ul>
                    <!-- Перечисляем занятия в списке -->
                    <li th:each="lesson : ${entry.value}" th:text="${lesson}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Новый блок формы, отдельная секция вне профиля -->
<div class="update_form_wrapper" sec:authorize="hasAuthority('teacher')">
<th:if test="${#parameters.containsKey('login') and #parameters['login'][0].equals(#authentication.name)}">
    <form action="#" th:action="@{/teachers/update-schedule}" method="POST" id="updateScheduleForm">
        <label for="date">Дата занятия (DD-MM-YYYY)</label><br/>
        <input type="text" id="date" name="date" placeholder="DD-MM-YYYY"><br/><br/> <!-- переименовали subjectDate в date -->

        <label for="lesson">Название предмета</label><br/>
        <input type="text" id="lesson" name="lesson" placeholder="Название предмета"><br/><br/> <!-- переименовали subjectName в lesson -->

        <button type="submit" class="update_schedule_button">Обновить расписание</button>
    </form>
</th:if>
</div>

</body>
</html>