.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1000;
    border: 1px solid rgba(38,36,36,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 0px;
    top: 0px;
}

.title {
    font-family: K2D;
    font-weight: Regular;
    font-size: 30px;
    max-width: 50%;
    text-align: left;
    text-decoration: none;
}

.if_authorized {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.authorized_username,
.logout_container {
    margin-bottom: 5px;
}

.logout_link {
    color: white;
    text-decoration: none;
    background-color: #4979F2;
    padding: 5px 10px;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background: linear-gradient(to bottom right, #fcfafa, #dfecec);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
    color: #3b4ea1;
    animation: fadeIn 1s ease-in-out forwards;
}

p {
    font-size: 1.5rem;
    text-align: center;
    color: #555;
    animation: slideUp 1s ease-in-out forwards;
}

a {
    display: inline-block;
    padding: 1em 2em;
    margin-top: 2em;
    background-color: #4979F2;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    animation: bounceIn 1s ease-in-out forwards;
}

a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from {transform: translateY(50%);}
    to {transform: translateY(0);}
}

@keyframes bounceIn {
    from {transform: scale(0); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
